html {
  font-size: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

.mydoc {
  color: #555555;
}
.mydoc i,
.mydoc h1,
.mydoc h2,
.mydoc h3,
.mydoc h4 {
  color: #334433;
}
.mydoc img {
  max-width:100%;
}
.mydoc h4 {
    margin-top: 1.2em;
    padding-bottom: 0;
}

body {
  background-color: #ffffff;
  color: #333333;
  font-family: Ubuntu;
}
.navbar-default {
  max-width:100%;
}
.popup-content {
  background: rgb(255,255,255,0)!important;
  width:auto!important;
  border:0!important;
  max-height: 100vh;
  overflow-y: auto;
}
.form-control:focus {
  border-color: #000000 !important;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8) !important;
}

.color-white80 { color: rgb(255,255,255,0.7) }
.color-black80 { color: rgb(0,0,0,0.5) }

.loading-screen {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  text-align: center;
  padding-top: 30vh;
  z-index: 999;
}
.loading-screen-loading-gif {margin-top: 10vh; opacity: 0.3;}
.loading-screen-logo {height: 40px;}

a, a:hover { text-decoration: none; }

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.color-gray {color: #aaaaaa;}
.modal {
  display: block;
  background-color: rgba(200, 200, 200, 0.9);
}
.logo-image { height: 40px; width: auto;}
.micro-logo-image { height: 34px; width: auto; }
.workshop-navbar { position: relative;}
.edit-image { height: 36px; width: auto; position: absolute; top: 10px; right:16px}
.save-image { height: 72px; width: auto; }
.back-image { height: 16px; width: auto; }
.user-image { height: 18px; width: auto; margin-right: 8px; margin-bottom:-2px; padding: 0; vertical-align: baseline;}
.user-image-small { height: 16px; width: auto; margin-right: 8px; margin-bottom:-2px; padding: 0; vertical-align: baseline;}
.admin-button img {
  height: 70px;
  width: auto;
  position: fixed;
  bottom: 24px;
  right: 24px;
}
.spinner {
  width: 120px;
  height: 40px;
  padding: 5px;
  vertical-align: baseline;
  position: fixed;
  top: 60px;
  right: 20px;
}
.spinner img {
  height: 30px;
  width: auto;
  margin-right: 6px;
}
.document-close-btn { position: relative; right:8px; top: 10px;}
